<header class="topbar">
  <div class="topbar__content container">
    <div class="brand">XAcademy</div>

    <nav class="nav">
      <a routerLink="/players" routerLinkActive="active">Players</a>
      <a routerLink="/my-players" routerLinkActive="active">My Players</a>
    </nav>

    <button
      class="btn btn--ghost"
      (click)="auth.logout(); router.navigate(['/login'])"
    >
      Logout
    </button>
  </div>
</header>

<main class="container">
  <router-outlet />
</main>
